services:
  python:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    tty: true
    volumes:
      - type: bind
        source: ../
        target: /workspace
    restart: unless-stopped

